.appointment_card {
  width: 13.35%; 
  height: 150px;
  margin-right: 8px;
  margin-top:8px
}

.appointment_card_panel {
  padding: 2px;
  height: 100%;
}

.appointment_card_appointment_approved {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #BCF1CF;
  background-color: #BCF1CF;
  border-radius: 5px;
  height: 15px;
  margin-bottom: 4px; 
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.appointment_card_appointment_cancelled {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #FFC3CF;
  background-color: #FFC3CF;
  border-radius: 5px;
  height: 15px;
  margin-bottom: 4px; 
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
