
.transition-group {
  position: relative;


  section.transition-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.sectionTransition-enter {
    opacity: 0.01;
    transform: translateX(100px);
}

.sectionTransition-enter.sectionTransition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: all 200ms ease-in-out;
}

.sectionTransition-exit {
    transform: translateX(0);
    opacity: 1;
}

.sectionTransition-exit.sectionTransition-exit-active {
    transform: translateX(-100px);
    opacity: 0.01;
    transition: all 200ms ease-in-out;
}